# Lab | Web Scraping Single Page (GNOD part 1)

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://www.popvortex.com/music/charts/top-100-songs.php/"

In [3]:
response = requests.get(url)
response.status_code

200

In [4]:
soup = BeautifulSoup(response.content, 'html.parser')
#soup

In [5]:
#soup.select('.title')

In [6]:
#soup.select('.artist')

In [7]:
songs = []

for i in soup.select(".title"):
    songs.append(i.get_text())

artists = []

for i in soup.select(".artist"):
    artists.append(i.get_text())

#print(songs)
#print(artists)

In [8]:
data = pd.DataFrame({'Song': songs, 'Artist': artists})
data

                          Song                    Artist
0               Margaritaville             Jimmy Buffett
1                  Come Monday             Jimmy Buffett
2   Rich Men North of Richmond      Oliver Anthony Music
3                     All Star               Smash Mouth
4     Cheeseburger In Paradise             Jimmy Buffett
..                         ...                       ...
95     Thought You Should Know             Morgan Wallen
96                  Dial Drunk  Noah Kahan & Post Malone
97             bad idea right?            Olivia Rodrigo
98                      august              Taylor Swift
99                 Unstoppable                       Sia

[100 rows x 2 columns]

# Lab | Web Scraping Multiple Pages (Part 1)

In [9]:
url2 = "https://en.wikipedia.org/wiki/List_of_UK_Singles_Chart_number_ones_of_the_1990s"

response2 = requests.get(url2)
print(response2)

soup2 = BeautifulSoup(response2.content, 'html.parser')

<Response [200]>

In [10]:
table2 = soup2.select('table')[3]
#table

In [11]:
#table2.select("tr")

In [12]:
songs2 = []
artists2 = []

for row in table2.select("tr"):
    cells = row.select("td")
    if cells:                        # this checks whether the row is empty or not
        artists2.append(cells[0].get_text().strip().replace('"',''))
        songs2.append(cells[1].get_text().strip().replace('"',''))
    
#artists2

In [13]:
data2 = pd.DataFrame({'Song': songs2, 'Artist': artists2})
data2

                                    Song                 Artist
0                          Hangin' Tough  New Kids on the Block
1                     Tears on My Pillow          Kylie Minogue
2                   Nothing Compares 2 U        Sinéad O'Connor
3                      Dub Be Good to Me    Beats International
4                              The Power                  Snap!
..                                   ...                    ...
208                           Lift Me Up         Geri Halliwell
209         She's the One / It's Only Us        Robbie Williams
210                    King of My Castle         Wamdue Project
211                The Millennium Prayer          Cliff Richard
212  I Have a Dream / Seasons in the Sun               Westlife

[213 rows x 2 columns]

In [14]:
song_list = data.append(data2).drop_duplicates().reset_index(drop=True)
song_list

C:\Users\eliza\AppData\Local\Temp\ipykernel_9748\1673050671.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  song_list = data.append(data2).drop_duplicates().reset_index(drop=True)

                                    Song                Artist
0                         Margaritaville         Jimmy Buffett
1                            Come Monday         Jimmy Buffett
2             Rich Men North of Richmond  Oliver Anthony Music
3                               All Star           Smash Mouth
4               Cheeseburger In Paradise         Jimmy Buffett
..                                   ...                   ...
297                           Lift Me Up        Geri Halliwell
298         She's the One / It's Only Us       Robbie Williams
299                    King of My Castle        Wamdue Project
300                The Millennium Prayer         Cliff Richard
301  I Have a Dream / Seasons in the Sun              Westlife

[302 rows x 2 columns]

In [15]:
url3 = "https://en.wikipedia.org/wiki/List_of_UK_Singles_Chart_number_ones_of_the_2000s"

response3 = requests.get(url3)
print(response3)

soup3 = BeautifulSoup(response3.content, 'html.parser')

<Response [200]>

In [16]:
table3 = soup3.select('table')[3]
songs3 = []
artists3 = []

for row in table3.select("tr"):
    cells = row.select("td")
    if cells:                        # this checks whether the row is empty or not
        artists3.append(cells[0].get_text().strip().replace('"',''))
        songs3.append(cells[1].get_text().strip().replace('"',''))

#artists3

In [17]:
data3 = pd.DataFrame({'Song': songs3, 'Artist': artists3})

song_list = song_list.append(data3).drop_duplicates().reset_index(drop=True)
song_list

C:\Users\eliza\AppData\Local\Temp\ipykernel_9748\2870435815.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  song_list = song_list.append(data3).drop_duplicates().reset_index(drop=True)

,Song,Artist
0,Margaritaville,Jimmy Buffett
1,Come Monday,Jimmy Buffett
2,Rich Men North of Richmond,Oliver Anthony Music
3,All Star,Smash Mouth
4,Cheeseburger In Paradise,Jimmy Buffett
...,...,...
569,Meet Me Halfway,The Black Eyed Peas
570,You Are Not Alone,The X Factor Finalists 2009
571,The Official BBC Children in Need Medley,Peter Kay's Animated All Star Band
572,Bad Romance,Lady Gaga
573,Killing in the Name,Rage Against the Machine

In [18]:
song_list.to_csv('song_list.csv')

# LAB con't -- GNOD - Part 2

User chooses a song. This is checked against 'song_list'.

If in the list, another song from the list is randomly output.

If not, a message saying "no recommendation at this time" is output.

In [38]:
# song_list = pd.read_csv('song_list.csv').drop(['Unnamed: 0'],axis=1)
# song_list

,Song,Artist
0,Margaritaville,Jimmy Buffett
1,Come Monday,Jimmy Buffett
2,Rich Men North of Richmond,Oliver Anthony Music
3,All Star,Smash Mouth
4,Cheeseburger In Paradise,Jimmy Buffett
...,...,...
569,Meet Me Halfway,The Black Eyed Peas
570,You Are Not Alone,The X Factor Finalists 2009
571,The Official BBC Children in Need Medley,Peter Kay's Animated All Star Band
572,Bad Romance,Lady Gaga
573,Killing in the Name,Rage Against the Machine

In [39]:
user_song = input('Choose a song: ')

Choose a song: Bad Romance

In [40]:
from random import randint

rand_song = randint(0,len(song_list))

if user_song in list(song_list['Song']):
    print('Alternative song: ',song_list['Song'][rand_song])
    print('By:               ',song_list['Artist'][rand_song])
    
else:
    print('Sorry, no recommendation at this time.')

Alternative song:  No Limit
By:                2 Unlimited

NB. There is a small chance that the selector will return the user-input song back to them!