# Lab | Web Scraping Single Page (GNOD part 1)

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://www.popvortex.com/music/charts/top-100-songs.php/"

In [3]:
response = requests.get(url)

In [4]:
soup = BeautifulSoup(response.content, 'html.parser')
#soup

In [5]:
#soup.select('.title')

In [6]:
#soup.select('.artist')

In [7]:
songs = []

for i in soup.select(".title"):
    songs.append(i.get_text())

artists = []

for i in soup.select(".artist"):
    artists.append(i.get_text())

#print(songs)
#print(artists)

In [8]:
data = pd.DataFrame({'Song': songs, 'Artist': artists})
data

                          Song                Artist
0               Margaritaville         Jimmy Buffett
1                  Come Monday         Jimmy Buffett
2   Rich Men North of Richmond  Oliver Anthony Music
3     Cheeseburger In Paradise         Jimmy Buffett
4                     All Star           Smash Mouth
..                         ...                   ...
95     Thought You Should Know         Morgan Wallen
96                      Snooze                   SZA
97            Bring Me to Life           Evanescence
98           Spirit In the Sky      Norman Greenbaum
99             bad idea right?        Olivia Rodrigo

[100 rows x 2 columns]

# Lab | Web Scraping Multiple Pages (Part 1)

In [9]:
url2 = "https://en.wikipedia.org/wiki/List_of_UK_Singles_Chart_number_ones_of_the_1990s"

response2 = requests.get(url2)
print(response2)

soup2 = BeautifulSoup(response2.content, 'html.parser')

<Response [200]>

In [10]:
table = soup2.select('table')[3]
#table

In [11]:
#table.select("tr")

In [12]:
songs2 = []
artists2 = []

for row in table.select("tr"):
    cells = row.select("td")
    if cells:                        # this checks whether the row is empty or not
        artists2.append(cells[0].get_text().strip().replace('"',''))
        songs2.append(cells[1].get_text().strip().replace('"',''))
    
#artists2

In [13]:
data2 = pd.DataFrame({'Song': songs2, 'Artist': artists2})
data2

                                    Song                 Artist
0                          Hangin' Tough  New Kids on the Block
1                     Tears on My Pillow          Kylie Minogue
2                   Nothing Compares 2 U        Sinéad O'Connor
3                      Dub Be Good to Me    Beats International
4                              The Power                  Snap!
..                                   ...                    ...
208                           Lift Me Up         Geri Halliwell
209         She's the One / It's Only Us        Robbie Williams
210                    King of My Castle         Wamdue Project
211                The Millennium Prayer          Cliff Richard
212  I Have a Dream / Seasons in the Sun               Westlife

[213 rows x 2 columns]

In [17]:
song_list = data.append(data2).drop_duplicates().reset_index(drop=True)
song_list

C:\Users\eliza\AppData\Local\Temp\ipykernel_14608\895079789.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  song_list = data.append(data2).drop_duplicates().reset_index(drop=True)

                                    Song                Artist
0                         Margaritaville         Jimmy Buffett
1                            Come Monday         Jimmy Buffett
2             Rich Men North of Richmond  Oliver Anthony Music
3               Cheeseburger In Paradise         Jimmy Buffett
4                               All Star           Smash Mouth
..                                   ...                   ...
297                           Lift Me Up        Geri Halliwell
298         She's the One / It's Only Us       Robbie Williams
299                    King of My Castle        Wamdue Project
300                The Millennium Prayer         Cliff Richard
301  I Have a Dream / Seasons in the Sun              Westlife

[302 rows x 2 columns]